<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaushal Kumar - Portfolio</title>
    <link rel="icon" href="{% static 'images/fav.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="header-content">
            <div class="profile">
                <img src="{% static 'images/my_profile.png' %}" alt="Kaushal Kumar" class="profile-image">
                <div class="profile-info">
                    <h1>Kaushal Kumar</h1>
                    <p class="subtitle">MCA Student | Aspiring Software Developer</p>
                </div>
            </div>

            <nav class="navigation">
                <ol>
                    <li><a href="{% url 'home' %}"><h3>Home</h3></a></li>
                    <li><a href="{% url 'about' %}"><h3>About</h3></a></li>
                    <li><a href="{% url 'resume' %}"><h3>Resume</h3></a></li>
                    <li><a href="{% url 'portfolio' %}"><h3>Portfolio</h3></a></li>
                    <li><a href="{% url 'certifications' %}"><h3>Certification</h3></a></li>
                    <li><a href="{% url 'contact' %}"><h3>Contact</h3></a></li>
                </ol>
            </nav>

        
            <button id="theme-toggle" aria-label="Toggle dark/light mode">🌙</button>

        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">

    <div class="footer-container">
            <div class="profile">
                <img src="{% static 'images/logic_codder.jpg' %}" alt="Kaushal Kumar" class="profile-image">

        <!-- LEFT -->
        <div class="footer-left">
            <div class="profile-info">
            <h3>Logic Codder</h3>
            <p>Full Stack Developer | Built with Django 🚀</p>
        </div>
        </div>

        <!-- CENTER -->
       <div class="footer-center">
        <h4>Let's work together - </h4>
        <p>
        <a href="mailto:mrkaushalkumar98@gmail.com">
             📩 mrkaushalkumar98@gmail.com
        </a>
    </p>
</div>

        <!-- RIGHT -->
        <div class="footer-right">
            
            <a href="https://www.linkedin.com/in/kaushal-kumar-759561253/" target="_blank">
                <img src="{% static 'images/social/linkdin.png' %}">
            </a>
            <a href="https://github.com/kaushalG556" target="_blank">
                <img src="{% static 'images/social/github.png' %}">
            </a>
            <a href="https://www.facebook.com/kaushal56527" target="_blank">
                <img src="{% static 'images/social/facebook.png' %}">
            </a>
            <a href="https://www.instagram.com/default_ks/" target="_blank">
                <img src="{% static 'images/social/insta.png' %}">
            </a>
        </div>

    </div>

    
    <div class="footer-bottom">
        © 2026 Kaushal Kumar
    </div>

</footer>
    <!-- <script src="{% static 'js/script.js' %}"></script> -->
     <script>
document.addEventListener("DOMContentLoaded", function () {

    const toggleBtn = document.getElementById("theme-toggle");

    const savedTheme = localStorage.getItem("theme");

    if (savedTheme === "dark") {
        document.body.classList.add("dark-mode");
        toggleBtn.innerHTML = "☀️";
    }

    toggleBtn.addEventListener("click", function () {
        document.body.classList.toggle("dark-mode");

        if (document.body.classList.contains("dark-mode")) {
            localStorage.setItem("theme", "dark");
            toggleBtn.innerHTML = "☀️";
        } else {
            localStorage.setItem("theme", "light");
            toggleBtn.innerHTML = "🌙";
        }
    });

});
</script>
</body>
</html>
